<ul>
  <li *ngFor="let u of User">
    Id: {{u.id}}
    <br>
    Name: {{u.userName}}
    <br>
    Email: {{u.email}}
  </li>
  <li *ngFor="let t of Ticket">
    Issue: {{t.issue}}
    <br>
    Who Opened: {{t.whoOpened}}
    <br>
 
  </li>
</ul>
<h2>Add New Issue</h2>
<p>Describe your issue</p>
<input [(ngModel)]="newTicket.issue" type="text" maxlength="50" />
<input [(ngModel)]="newTicket.whoOpened" type="text" maxlength="50" />
<button (click)="CreateTicket()">Add New Ticket</button>
<li *ngFor="let t of Ticket">
  <p>Id</p>
  <input [(ngModel)]="t.id" type="number" maxlength="50" />
  <p>Resolution</p>
  <input [(ngModel)]="t.resolution" type="text" maxlength="50" />
  <p>whoClosed</p>
  <input [(ngModel)]="t.whoClosed" type="text" maxlength="50" />
      <button (click)="resolveTicket(t.id, t.issue, t.whoOpened)" class="nav-link text-dark"
                >Resolve Ticket</button>
</li>