<ul style="list-style: none;">
  <h1>Users:</h1>
  <li class = "userlist"  *ngFor="let u of User">
    <div *ngIf="u.id === 0" >Id Pending. Please Refresh</div>
    
    UserId: {{u.id}}
    <br>
    Name: {{u.userName}}
    <br>
    Email: {{u.email}}
    
  </li>
  <h1>Open Tickets</h1>
  <li class = "ticketlist" *ngFor="let t of Ticket">
    <div *ngIf="t.isClosed === false">Open to Resolve</div>
    

    Issue: {{t.issue}}
    <br>
    Who Opened: {{getUserInputByID(t.whoOpened)}}
    <br>
    <div *ngIf="t.isClosed === true">Resolved! See Resolve Ticket page to learn more</div>
    <button (click)='searchTickets(t.id)' routerLinkActive="active" type="button">View Ticket</button>
  
    
  </li>
  
</ul>
<h2>------------------------------</h2>
<h2>Add New User</h2>
<div>
<p>Please Enter your name</p>
<input [(ngModel)]="newUser.userName" type="text" maxlength="50" /></div>
<br>
<div>
<p>Please Enter your E-Mail address</p>
<input [(ngModel)]="newUser.email" type="text" maxlength="50" /></div>

<br>
<button (click)="CreateUser()">Add User</button>
<h2>------------------------------</h2>
<h2>Add New Issue</h2>
<div>
<p>Describe your issue</p>
<input [(ngModel)]="newTicket.issue" type="text" maxlength="50" /></div>

<br>
<div>

  
<p>Please Enter UserID </p>
<input [(ngModel)]="newTicket.whoOpened" type="text" maxlength="50" /></div>

<br>
<button (click)="CreateTicket()">Add New Ticket</button>
<h2>------------------------------</h2>

<h2>Resolve Ticket</h2>
  <p>Id</p>
  <input Name = "id" [(ngModel)]="TicketToResolve.id" type="number" maxlength="50" />
  <p>Resolution</p>
  <input Name= "resolution"[(ngModel)]="TicketToResolve.resolution" type="text" maxlength="50" />
  <p>whoClosed</p>
  <input Name= "whoClosed"[(ngModel)]="TicketToResolve.whoClosed" type="text" maxlength="50" />
  
  <br>
  <br>
      <button (click)="resolveTicket()" class="nav-link text-dark" 
                >Resolve Ticket</button>
                <br>
                <br>
             